.loading {
    display: inline-block;
    border-style: solid;
    border-radius: 50%;
    animation-iteration-count: infinite;
    animation-name: spin;
    animation-timing-function: ease-in-out;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(720deg);
    }
}
